.head{background-repeat: no-repeat;
    background-size: 600px 400px;
    background-position: center;
    background-image:url(images/131.png);
    height: 400px;
    margin-bottom: 200px;
  
}

.btn{margin-top: 20px;
   align-items: center;
margin-left: 90px;}
span{color: rgb(101, 7, 201);}
.headdiv{margin-left: 25%;
margin-right: 25%;
margin-top: 100px;
margin-bottom: 100px;
}
.head h1{text-align: center;}
.head h2{text-align: center;}
.head p{color: rgb(72, 70, 70);
font-size:20px;
text-align: justify;
font-family: cursive;
}

.row{
margin-bottom: 200px;}
.col{float: left;
width: 40%;
margin-left:5%;margin-right: 5%;

text-align: center;
}


#side{box-shadow: 5px 7px 50px rgb(102, 12, 227);
border-left: 7px solid;border-right: 7px solid;
border-image: linear-gradient(180deg,rgb(195, 17, 17),blue);
border-image-slice: 1;
background-image: radial-gradient(white,rgb(182, 244, 197));
margin-top: 50px;}


.row p{font-size: large;
font-family: fantasy;
font-size: x-large;}
.row h1{font-family: fantasy;
color: rgb(76, 14, 95);}
.body{background-color:rgba(236, 249, 220, 0.967);}
#row1{background-image:url(images/120-removebg-preview.png);
background-color:rgba(236, 249, 220, 0.967) ;}

#h1{color: rgb(90, 6, 6);}
#h2{color:rgb(90, 6, 6);}
#pink{color: rgb(228, 26, 151);}
.an{text-decoration: none;
color: white;}
#footer{color: rgb(233, 233, 243);
font-size: large;
text-align: center;
background-color: rgb(34, 45, 45);
background-position-y: center;}